/*-------------Fonts--------------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@500&display=swap');

/*-------------Colors-------------*/
:root{
    --TI-Color:                 #32CD32 ;
    --TI-Text-Color:            #ffffff;
    --TI-Background-Color-1000: #000000;
    --TI-Background-Color-800:  #151515;
    --TI-Background-Color-600:  #191919;
    --TI-Background-Color-400:  #202020;
    --TI-Background-Color-200:  #252525;

}
/*--------------------------------*/

body{ background-color: var(--TI-Background-Color-1000); }

/*--------------------------------*/

._MNB{
    background-color: var(--TI-Background-Color-400);
    position: fixed;
    height: 100vh;
    width: 150px;
    left:0;
    top:0;
}



