body{
  background-color: #202020;
}

#NavBar{
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
  
}


#AccountLogo{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    cursor: pointer;
   
}

#HomeLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    color: #909090;
    margin-left: 50px;
}

#HomeLink:hover{
    color: white;
}

#ScheduleLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    color: #909090;
    margin-left: 20px;
}

#ScheduleLink:hover{
    color: white;
}

#LiveLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    margin-left: 20px;
    color: #909090;
}

#LiveLink:hover{
    color: white;
}

#SearchBarDiv{
    background-color: #353535;
    border-radius: 40px;
    margin-left: 245px;
    margin-top: -25px;
    height: 30px;
    width: 40%;
    min-width: 200px;
}

#SearchBar{
    background-color: #353535;
    border: none;
    color: #ffffff;
    width: 80%;
    margin-top: -7px;
    margin-left: 10px;
    outline: none;
}

#SearchIcon{
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: -2px;
    height: 15px;
    width: 15px;
}

@media (min-width: 900px) {
    #SearchBarDiv{
        margin-left: 270px;     
        width: 400px;  
    }

    #SearchIcon{
        position: absolute;
        margin-left: 40px;
        
    }

    #SearchBar{
       
        margin-top: 6px;
       
    }

    #NavBar{
        width: 750px;
        
    }

    #AccountLogo{
        margin-left: -0px;
    }

    #HomeLink{
        margin-left: 70px;
    }

    #ScheduleLink{
        margin-left: 50px;
    }

    #LiveLink{
        margin-left: 50px;
    }

    #SearchBarDiv{
        margin-left: 350px;
    }
}

@media (max-width: 500px) {
    #SearchBarDiv{
        height: 40px; 
    }

    

   

   

    #AccountLogo{
        height: 40;
        width: 40px;
    }

    #HomeLink{
        font-size: 25px;
    }

    #ScheduleLink{
        font-size: 25px;
    }

    #LiveLink{
        font-size: 25px;
    }

    
}
