body{
  background-color: #202020;
}

#NavBar{
    width: 750px;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
  
}


#AccountLogo{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    cursor: pointer;
   
}

#HomeLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    color: #909090;
    margin-left: 70px;
}

#HomeLink:hover{
    color: white;
}

#ScheduleLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    color: #909090;
    margin-left: 50px;
}

#ScheduleLink:hover{
    color: white;
}

#LiveLink{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 15px;
    margin-left: 50px;
    color: #909090;
}

#LiveLink:hover{
    color: white;
}

#SearchBarDiv{
    background-color: #353535;
    border-radius: 40px;
    margin-left: 370px;
    margin-top: -25px;
    height: 30px;  
    width: 400px;  
    min-width: 200px;
}

#SearchBar{
    background-color: #353535;
    border: none;
    color: #ffffff;
    width: 80%;
    margin-top: 6px;
    margin-left: 10px;
    outline: none;
}

#SearchIcon{
    position: absolute;
    margin-left: 40px;
    margin-top: 7px;
    margin-bottom: -2px;
    height: 15px;
    width: 15px;
}



    

    

   

    
